.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em;
}

.cardImage {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    position: sticky;
    object-position: center;
    width: 94%;
    max-height: 100%;
    height: 550px;
}

.feed{
    margin: auto;
    position: sticky;
    margin-left: 70px;
    margin-top: 40px;
    border-bottom: 2px solid #003c84;
    font-style: italic;
    font-weight: bold;
}

.cardImage img {
    object-fit: cover;
    border-radius: 16px;
}

.title {
    font-size: 48px;
    margin-top: -50px;
    font-weight: bold;
    width: 95%;
    text-align: left;
    padding: 30px;
}

.titles {
    margin-top: -50px;
    font-size: 30px;
    width: 95%;
    text-align: left;
    margin-bottom: 40px;
    padding: 30px;
}

.smallImage{
    padding: 2em;
    display: grid;
    grid-template-columns: auto;
    position: sticky;
    border-radius: 50%;
    margin-right: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 150px;
    height:150px;
    margin-left: 10px;
    margin-top: -20px;
}

.text{
    margin: auto;
    margin-top: -90px;
    margin-left: 90px;
    width: 200%;
    
}

.texts{
    margin: auto;
    color: #818FA1;
    font-style: italic;
    font-weight: bold;
    width: 200%;
    margin-left: 70px;
    margin-top: -70px;
}

.iconas{
    margin-left: auto;
    color: #818FA1;
    font-size: 25px;
}

.icona{
    margin-right: auto;
    display: grid;
    margin-top: center;
    margin-top: -600px;
    font-size: 25px;
    color: #818FA1;
}

@media screen and (min-width:320px) and (max-width:390px) {

    .title{
        margin-top: 60px;
        width: auto;
        font-size: 30px;
    }

    .titles{
        width: auto;
        font-size: 20px;
    }

    .icona{
        visibility: hidden;
    }

    .cardImage{
        height: 300px;
        width: 100%;
    }
    
    .text{
        
        margin-left: auto;
        width: 160%;
        margin-top: -10px;
    }

    .texts{
        margin-left: auto;
        width: 160%;
        margin-top: 10px;
    }

    .smallImage{
        width: 200px;
    }
}


@media screen and (min-width:390px) and (max-width:767px) {

    .title{
        margin-top: 60px;
        width: auto;
        font-size: 30px;
    }

    
    .titles{

        width: auto;
        font-size: 20px;
    }

    .icona{
        visibility: hidden;
    }

    .cardImage{
        
        height: 300px;
        width: 120%;
    }

    .text{
        margin-left: auto;
        width: 160%;
        margin-top: -10px;
    }

    .texts{
        margin-left: auto;
        width: 160%;
        margin-top: 10px;
    }

    .smallImage{
        width: 200px;
    }
    .feed{
        margin-top: -200px;
        margin-right: auto;
    }
    }

@media screen and (min-width:1px) and (max-width:380px) {

    .title{
        width: auto;
        font-size: 30px;
    }

    
    .titles{
        width: auto;
        font-size: 30px;
    }

    .icona{
        visibility: hidden;
    }

    .cardImage{
       
        height: 300px;
        width: 500px;
    }

    
}

@media screen and (min-width:768px) and (max-width:1024px) {

    .title{
        width: auto;
        font-size: 30px;
        margin-top: 10px;
    }

    
    .titles{
        width: auto;
        font-size: 30px;
    }

    .icona{
        visibility: hidden;
    }

    .cardImage{
        height: 300px;
        width: 100%;
        margin-left:40px;
    } 

    .feed{
        margin-top: -200px;
        margin-right: auto;
    }
}

@media screen and (min-width:820px) and (max-width:1180px) {

    .title{
        width: auto;
        font-size: 30px;
        margin-top: 10px;
    }

    
    .titles{
        width: auto;
        font-size: 30px;
    }

    .icona{
        visibility: hidden;
    }

    .cardImage{
        height: 300px;
        width: 100%;
        margin-left:40px;
    }
}



