.header {
  
  justify-content: space-between;
  margin: auto;
  margin-top: 80px;
}

.logo {
  font-size: 44px;
  font-weight: 900;
  color: #c7352f;
  border-bottom: 5px solid #c7352f;
}

@media screen and (min-width: 320px) and (max-width: 874px) {
  .logo {
    margin-right: auto;
   
  }

  .header {
    margin-right: auto;
  
  }
}


